/* ESTILIZAÇÃO UNIVERSAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img.foto-de-capa {
    width: 500px;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}

:root {

    --branco: #F1F1F1;
    --cereja: #db2763;
    --pretoRico: #0D1117;
    --preto: #06080C;
    --cinza: #6C737C;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--preto);
}

.interface {
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 8px;
    color: var(--branco);
    transition: .5s;
    cursor: pointer;
}


button:hover,
a button:hover,
.contato form .btn-enviar input:hover {
  background-color: var(--cereja);
  border-color: var(--cereja);
  color: var(--branco);
  box-shadow:
    0 0 2px #DB2763,
    0 0 6px #DB2763;
  text-shadow:
    0 0 2px #DB2763;
  transform: scale(1.03);
  transition: all 0.3s ease;
}


/* animação de subida e fade */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseGlow {
    0% {
        text-shadow:
            0 0 1px #DB2763,
            0 0 2px #DB2763;
    }

    100% {
        text-shadow:
            0 0 3px #DB2763,
            0 0 5px #DB2763;
    }
}

h1.titulo-section {
    font-size: 4rem;
    color: var(--branco);
}

h1.titulo-section span {
    color: var(--cereja);
}

span {
    color: #DB2763;
    text-shadow:
        0 0 1px #DB2763,
        0 0 2px #DB2763;
    animation: pulseGlow 3s ease-in-out infinite alternate;
}

/* ESTILO CABEÇALHO */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0px;
    background-color: transparent;
    backdrop-filter: none;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease, box-shadow 0.5s ease, transform 0.3s ease;
    z-index: 1000;
}

header .logo-container {
  width: 220px; /* largura desejada */
  height: 80px; /* define a altura para que o container exista */
  position: relative;
}
/* Logos sobrepostas */
header .logo-container img {
  width: 100%;  /* ocupa toda a largura do container */
  height: 100%; /* ocupa toda a altura do container */
  object-fit: contain; /* mantém a proporção da imagem */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.4s ease;
}

/* Logo base (logo 1) */
header .logo-container img.logo-base {
  opacity: 1;
}

/* Logo secundária (logo 4) */
header .logo-container img.logo-scroll {
  opacity: 0;
}

/* Quando rolar */
header.rolagem .logo-container img.logo-base {
  opacity: 0;
}

header.rolagem .logo-container img.logo-scroll {
  opacity: 1;
}

header.rolagem {
    background-color: rgba(13, 17, 23, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

header img {
  height: 60px; /* tamanho normal da logo */
  transition: all 0.4s ease; /* suaviza mudanças de src, tamanho ou opacidade */
}

header img, header nav a {
    transition: transform 0.4s ease, opacity 0.4s ease, color 0.3s ease;
}

header.rolagem img {
    transform: scale(0.96);
    opacity: 0.9;
}

header.rolagem nav a {
    transform: scale(0.96);
    opacity: 0.9;
}

header nav a:hover {
    color: var(--cereja);
    transform: translateY(-2px);
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logotipo-cabecalho img {
    max-width: 200px;
}

header nav.menu-desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu-desktop a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

header nav.menu-desktop a:hover {
    color: var(--cereja);
}

header nav.menu-desktop button {
    width: 144px;
    height: 48px;
}

/* estilo do menu mobile */

.btn-menu-mobile, .menu-mobile{
    display: none;
}

.menu-mobile{
    position:fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--pretoRico);
    text-align: right;
    padding: 32px 0;
    pointer-events: none;
    transition: .5s;
}

.menu-mobile ul{
    list-style: none;
    padding: 64px 0;
}

.menu-mobile ul li a{
    color:var(--cereja);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 24px;
    display: block;
    transition: .2s;
}

.menu-mobile ul li a:hover{
    background-color: var(--cereja);
    color:var(--pretoRico);
}
.menu-mobile .bi-x{
    font-size: 2rem;
    color:var(--branco);
    padding: 24px;
}
.menu-mobile.abrir-menu{
    left: 0;
    pointer-events: initial;
}
.btn-menu-mobile i{
    font-size:1.8rem;
    color: var(--branco);
}

/* Estilo da hero */

section.hero {
    background-image: linear-gradient(to left, var(--pretoRico)70%, var(--cereja)30%);
    padding-top: 144px;
}

.hero>.interface {
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero .img-hero {
    line-height: 0;
}

.hero .txt-hero h1 {
  font-size: 3.5rem;
  color: var(--branco);
  font-weight: 300;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1.2s ease forwards;
}

.hero .txt-hero h1 span {
  color: var(--cereja);
  display: block;
  font-weight: 800;
  font-size: 4.5rem;

  /* animação de entrada */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1.2s ease forwards, pulseGlow 2s ease-in-out infinite alternate;
  animation-delay: 0.4s, 1.6s; /* aparece depois e o brilho começa logo em seguida */
}


.hero .txt-hero p {
    color: var(--branco);
    line-height: 1, 6;
    font-size: 1.2rem;
    margin: 24px 0;
}

.hero .txt-hero button {
    width: 200px;
    height: 48px;
}

/* Estilo sobre mim */

section.sobre-mim {
    padding: 80px 0;
}

.sobre-mim>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

.sobre-mim .txt-sobre p {
    color: var(--cinza);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;

}

.sobre-mim .btn-redes button,
footer .btn-redes button {
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 8px;
}

.sobre-mim img {
    height: 650px;
    width: auto;
}

/* Estilo da seção habilidades*/

.skills img {
    width: 50px;
    height: auto;
}

section.skills {
    background-color: var(--pretoRico);
    padding: 80px 0;
}

.skills article {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 16px;
    margin: 24px 0;
}

.skills .box-skills {
    background-color: var(--preto);
    padding: 24px;
    border-radius: 16px;
}

.box-skills .icon-skills {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;
}

.box-skills .icon-skills img {
    max-width: 80px;
}

.icon-skills h2 {
    color: var(--branco);
}

.box-skills p {
    color: var(--cinza);
    text-align: justify;
    line-height: 1.6;
}

.skills.btn-contato {
    text-align: center;
}

.skills .btn-contato button {
    width: 200px;
    height: 48px;
}

/* Estilo section portfolio */

section.portfolio {
    padding: 80px 0;
}

.portfolio-txt {
    margin-bottom: 40px;
}

.portfolio p {
    color: var(--cinza);
    font-size: 1.1rem;
}

/* Container dos cards */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* desktop 3 colunas */
    gap: 24px;
}

/* Cards do portfolio */
.portfolio-box {
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.portfolio-box:hover {
    transform: scale(1.05);
}

.portfolio-box .info-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(219, 39, 99, 0.6);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-box:hover .info-portfolio {
    opacity: 1;
}

/* Fundo das imagens dos projetos */
.portfolio-box.projeto1 { background-image: url(imagens/Projetos/projeto-portifolio.webp); }
.portfolio-box.projeto2 { background-image: url(imagens/Projetos/projeto-portifolio.webp); }
.portfolio-box.projeto3 { background-image: url(imagens/Projetos/projeto-portifolio.webp); }


/* Estilo seção contato */

section.contato {
    padding: 80px 0;
    background-color: var(--pretoRico);
}

.contato>.interface {
    display: flex;
    justify-content: space-between;
}

.contato .txt-contato p {
    color: var(--cinza);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.contato .txt-contato p i {
    color: var(--cereja);
    font-size: 2rem;
}

.contato form {
    width: 50%;
}

.contato form input,
.contato form textarea {
    width: 100%;
    padding: 10px 10px;
    background: transparent;
    border: 2px solid var(--cinza);
    outline: none;
    color: var(--branco);
    font-size: 1.1rem;
    border-radius: 8px;
    margin-bottom: 8px;
}

.contato form .tel-proj {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contato form textarea {
    resize: none;
    height: 150px;
}

.contato form .btn-enviar input {
    border-color: var(--branco);
    transition: .5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}

.contato form .btn-enviar input:hover {
    background-color: var(--cereja);
    border-color: var(--cereja)
}

/* Estilo rodapé */

footer {
    padding: 40px 0;
}

footer>.interface {
    justify-content: space-between;
    color: var(--cinza);
    display: flex;
}

footer .logo-footer img {
    max-width: 160px;
    margin-bottom: 16px;
}


/* MODIFICACAO CHAT GPT */


/* --- Animação + efeito neon no texto da hero --- */




/* animação de subida e fade */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* brilho pulsante (neon suave) */
@keyframes pulseGlow {
  0% {
    text-shadow:
      0 0 1px #DB2763,
      0 0 2px #DB2763;
  }
  100% {
    text-shadow:
      0 0 2px #DB2763,
      0 0 6px #DB2763;
  }
}











/* TESTES DO CHAT GPT PRA APROVAR OU NAO */


#typewriter-line1, #typewriter-line2 {
  display: inline-block; /* para animar cada linha separadamente */
  white-space: nowrap;
  overflow: hidden;
}

#typewriter-line1 {
  border-right: 2px solid var(--cereja); /* cursor na primeira linha */
}


