*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
img.foto-de-capa{
    width: 500px;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}

:root{

    --branco:#F1F1F1;
    --cereja:#db2763;
    --pretoRico:#0D1117;
}
.interface{
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}
button{
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 8px;
    color: var(--branco);
    transition: .5s;
    cursor: pointer;
}
button:hover{
    background-color: var(--cereja);
}
/* ESTILO CABEÇALHO */

header{
    background-color:transparent;
    padding: 16px 0px;
    position: fixed;
    width:100%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logotipo-cabecalho img{
    max-width: 200px;
}

header nav.menu-desktop ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu-desktop a{
    color: var(--branco);
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

header nav.menu-desktop a:hover{
    color:var(--cereja);
}

header nav.menu-desktop button{
    width: 144px;
    height: 48px;
}

/* Estilo da hero */

section.hero{
    background-image: linear-gradient(to left,var(--pretoRico)70%,var(--cereja)30%);
    padding-top: 144px;
}

.hero > .interface{
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero .img-hero{
    line-height: 0;
}
.hero .txt-hero h1{
    font-size: 3rem;
    color: var(--branco);
    font-weight: 300;
}

.hero .txt-hero h1 span{
    color: var(--cereja);
    display:block;
    font-weight: 800;
    font-size: 4rem;
}

.hero .txt-hero p{
    color:var(--branco);
    line-height: 1,6;
    font-size: 1.2rem;
    margin: 24px 0;
}

.hero .txt-hero button{
    width: 200px;
    height: 48px;
}





.neon-glow {
  color: #DB2763;
  text-shadow:
    0 0 1px #DB2763,
    0 0 2px #DB2763;
  animation: pulseGlow 2s ease-in-out infinite alternate;
}

@keyframes pulseGlow {
  0% {
    text-shadow:
      0 0 1px #DB2763,
      0 0 2px #DB2763;
  }
  100% {
    text-shadow:
      0 0 3px #DB2763,
      0 0 5px #DB2763;
  }
}